body {
    background-image: url('../Images/light_bright_background_texture_surface_18451_1920x1080.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: round;
    height: 94.8vh;
    width: auto;
}
