body html {
    margin: 0;
    padding: 0;
}

.backgroundimg {
    background-image: url('https://wallpaperscraft.com/image/book_page_leaves_82167_1920x1080.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
