body html {
    margin: 0;
    padding: 0;
}

.backgroundimg {
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 94.8vh;
    width: 101%;
}
