body html {
    margin: 0;
    padding: 0;
}

.tablebackground {
    background-image: url('../Images/light_bright_background_texture_surface_18451_1920x1080.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: round;
    height: 94.8vh;
    width: auto;
}

.backgroundimg {
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 94.8vh;
    width: 101%;
}

.backgroundcolor {
    margin:1px;
    background: linear-gradient(to right bottom, #b6ff00, #0094ff);
}

table tr td{
    font-weight:700;
}

table tr th{
    font-weight:900;
    color:blue;
}