@model IEnumerable<OperationsOnData.Models.User>

@{
    ViewBag.Title = "Index";
}

<br /><br />
<div class="panel panel-default">
    <div class="panel-heading">
        <span>
            <h3>All Users</h3>
        </span>
    </div>
    <div class="panel-body">
        <div style="width:90%; margin:0 auto;">
            <table id="myTableForUsers" class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Second Name</th>
                        <th>Email</th>
                        <th>Number Of Books</th>
                        <th>Obligation [zł]</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    function RenderHTMLActionButtons(id)
    {
        return `<center><a class="btn btn-primary" href= "@Html.Raw(HttpUtility.UrlDecode(Url.Action("Details", "AdminUsers", new { id = "{{id}}" })))">
                    Details
                </a> |
                <form action="@Html.Raw(HttpUtility.UrlDecode(Url.Action("Delete", "AdminUsers", new { id = "{{id}}" })))" method="post">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                </form></center>`
        .replace(/{{id}}/g, id);
    }

    $(document).ready(function () {
        var oTable = $('#myTableForUsers').DataTable({
            "ajax": {
                "url": '/AdminUsers/GetUsers',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name", "autoWidth": true },
                { "data": "SecondName", "autoWidth": true },
                { "data": "Email", "autoWidth": true },
                { "data": "NumberOfBooks", "autoWidth": true },
                { "data": "Obligation", "autoWidth": true },
                {
                    "title": '',
                    "data": null,
                    "render": function (data, type, row) {
                        return RenderHTMLActionButtons(data['Id']);
                    }
                }
            ],
            "createdRow": function (row, data, index) {
                if (data.Obligation > 0) {
                    $('td', row).addClass('highlight');
                }
            }
        })
    })
</script>

<style>
    form {
        display: inline-block;
    }

    td.highlight {
        color: red;
    }
</style>

