@model Library.ViewModels.ListOfBooksViewModel

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/body.css" rel="stylesheet" />

@Html.Partial("_BooksMainPanelPartial")
<br /><br /><br /><br /><br />

<div style="width:90%; margin:0 auto;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <h3>Books in library</h3>
            </span>
        </div>
        <div class="panel-body">
            <table id="myTable" class="table table-bordered table-responsive table-striped wow bounceInLeft" data-wow-delay="0.2s">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Type</th>
                        <th>Pages</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script>
        function RenderHTMLActionButtons(id)
        {
            return `<form action="@Html.Raw(HttpUtility.UrlDecode(Url.Action("Reservation", "Books", new { id = "{{id}}" })))" method="post">
                        <input type="submit" value="Reserve" onclick="return confirm('Are you sure?')" class="btn btn-success">
                    </form>`
                .replace(/{{id}}/g, id);
        }

        $(document).ready(function () {
            var oTable = $('#myTable').DataTable({
                "ajax": {
                    "url": '/books/GetBooks',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Title", "autoWidth": true },
                    { "data": "Author", "autoWidth": true },
                    { "data": "Type", "autoWidth": true },
                    { "data": "NumberOfPages", "autoWidth": true },
                    { "data": "Status", "autoWidth": true },
                    {
                        "title": '',
                        "data": null,
                        "render": function (data, type, row) {
                            if (data['Status'] == 1)
                            {
                                return RenderHTMLActionButtons(data['BookId']);
                            }
                            else
                            {
                                return '';
                            }
                        }
                    }
                ]

            })
        })
        </script>
