@{
    ViewBag.Title = "Home Page";
}



<center>
    <h1><br />Welcome in library <br /><br /><br /></h1>
    <img src="https://st2.depositphotos.com/1006076/7353/v/950/depositphotos_73534075-stock-illustration-bookcase-with-various-books-vector.jpg" height="600" width="600">
</center>
    

