@{
    ViewBag.Title = "Home Page";
}
<div class="page-title">
    <div>
        <h1><i class="fa fa-home"></i> Home Page</h1>
    </div>
</div>
<center>
    <img class="embed-responsive-item, img-responsive" src="~/Images/book-1294379_960_720.png" />
</center>
